@charset "utf-8";

/* indexpage menu ======================= */
.ie .nav { position:absolute; right:0; top:0; width:600px; text-align:right; }
.ie .menu_body { padding-right:50px; }
.ie .nav li { position: relative; font-size:20px; line-height: 65px; text-align:center; z-index:50;}
.ie .nav li > a {display: block; color:#0c0f1d; line-height: 65px; height: 65px; background-color: rgba(255,255,255,0);}
.ie .nav li > a:hover { color:#8ec22e; }
/* first level */
.ie .nav > ul { height: 65px; }
.ie .nav > ul > li { display:inline-block; padding:0; width: 110px;}
.ie .nav > ul > li { font-size:20px; text-align:center; z-index:50;}

/* second level */
.ie .nav li ul { display: none; position: absolute; top: 100%;  text-align:center; background:#8ec22e; white-space: nowrap; left: -100%; right: -100%; margin: auto; width: 150px;}
.ie .nav li ul li { height:40px; list-style:none; font-size:14px;}
/*#nav li:hover ul { display: block; } */
.ie .nav li li a { color:#fff; line-height:40px; display:block; width: 150px;}
.ie .nav li li a:hover { text-decoration:none; color: #fff;}
.ie .nav li:hover ul li:hover { background:#7bad1f; }



@media screen and (min-width: 1680px){
.wrapper						{ width:1680px; margin:0 auto; overflow:hidden; }
}

@media screen and (min-width: 769px){

.gmenu .lv2 { display:inline; background:#FF00B4; margin-left:0; padding:4px 8px; }
.gmenu .lv2_top { position:relative; margin-left:15px;}
.gmenu .lv2_top:before { content:""; position:absolute; left:-9px; top:5px; display:inline-block; border-right:10px solid #FF00B4; border-top:7px solid transparent; border-bottom:7px solid transparent;}

/* ここにあった */
/* indexpage menu ======================= */
.nav { position:absolute; right:0; top:0; width:650px; text-align:right; }
.menu_body { padding-right:45px; }
.nav li { position: relative; font-size:20px; text-align:center; z-index:50; }
.nav li > a { color:#0c0f1d; }
.nav li > a:hover { color:#8ec22e; }
/* first level */
.nav > ul { height: 65px; }
.nav > ul > li { display:inline-block; padding:0; width: 85px;}


/* second level */
.nav li ul { display: none; position: absolute; top: 100%;  text-align:center; background:#8ec22e; white-space: nowrap; left: -100%; right: -100%; margin: auto; width: 150px;}
.nav li ul li { height:40px; list-style:none; font-size:14px;}
/*#nav li:hover ul { display: block; } */
.nav li li a { color:#fff; line-height:40px; display:block; width: 150px;}
.nav li li a:hover { text-decoration:none; color: #fff;}
.nav li:hover ul li:hover { background:#7bad1f; }

.nav_link		{background-color: #D29B38 !important;}
.nav_link:hover	{background-color: #ce9124 !important;}

.plusmenu:after { content:" ▽"; font-size:10px;}

/*141023*/
.effect_nav:before, .nav > ul >li:before {
	position: absolute; z-index: -1; display: block; content: ''; }
.effect_nav,.effect_nav:before, .nav > ul >li, .nav > ul >li:before {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	/*-webkit-transition: all .3s;	transition: all .3s;*/
}
.effect_nav a, .nav > ul >li > a {
 position:relative;
 line-height: 65px;
 display: block;
}
.effect_nav a::before, .nav > ul >li > a::before {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.effect_nav a:first-child:before , .nav > ul >li>a:first-child:before {

	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}
.effect_nav a:hover:first-child:before,.effect_nav a:focus:first-child:before, .nav > ul >li>a:hover:first-child:before, .nav > ul >li>a:focus:first-child:before {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


.kaigyoseigyo { display:block; }
}




@media screen and (max-width: 768px){
body { min-width:320px; }
/* Global menu */
.gmenu_icon					{display:block; position:absolute; top:6px; right:10px; text-align:center; height:40px; width:40px; line-height:40px; color:#080e28; font-size:24px;  z-index:2;}
.gmenu							{list-style-type:none; padding:0 20px 0; margin:0; font-size:0; text-align:left; margin-left:0; margin-right:0; box-sizing:border-box; display:none; }
.gmenu li						{display:block; margin-left:0; border-bottom:1px solid #333333; font-size:14px;}
.gmenu li:first-child		{border-top:1px solid #333333;}
.gmenu	 a						{padding:0; display:block; border-bottom:none; color:#cccccc; font-weight:bold; line-height:45px;}
.gmenu a.now				{border-bottom:none !important;}
.gmenu li:nth-child(1)	{display:block;}
.gmenu .lv2					{display:block;}
.gmenu .lv2 a				{padding-left:30px;}
.fixedbox_table				{height: 500px;}
.cont_top					{margin: 230px auto 20px auto; text-align: center;}
.top_logo					{margin: 0 auto; max-width: 600px;}
.wrapper_chara			{background-position-x: 20%; background-position-y: -30px;}
.wrapper_location			{background-position-x: 70%; background-position-y: -30px;}
.wrapper_live			{background-position-x: 50%; background-position-y: -30px;}
.wrapper_news			{background-position-x: 70%; background-position-y: -30px;}
.wrapper_info			{background-position-x: 65%; background-position-y: -30px;}
.wrapper_goods			{background-position-x: 80%; background-position-y: -30px;}
.wrapper_special			{background-position-x: 40%; background-position-y: -30px;}
.btn_demomovie1				{margin:20px auto;}
.credit_top		{bottom:5px;}

/* header */
.pgtitle { padding:80px 50px 30px; }
.header		{height: 50px;}
.siteid		{width: 130px; height: 30px;}
/* Section */
.section_inner			{ padding:60px; }
.sect_half1_r				{ padding-left:45px; }
.sect_half1_l 			{ padding-right:45px; }
.sect_half2_whole .sect_half2_50:nth-child(odd)		{ padding-right:20px; }
.sect_half2_whole .sect_half2_50:nth-child(even)		{ padding-left:20px; }
.secmenu			{font-size: 12px; line-height: 3; padding: 0 60px;}
.secmenu_inner		{padding: 0;}
.wrapper {background-position-y: 0px; background:url(../images/bg_main.jpg) no-repeat right top #050a23; background-size: 900px;}
.title_deco .sect_title:after { content:none;}
.page_title {padding: 30px 50px; box-sizing:border-box;}
.top_twitter				{width: 120px; right: 0; top: -210px;}
.top_twitter img			{width: 120px;}
.top_movie				{position: absolute; bottom: 30px; right: 50%; left:50%;}

/* Fancybox */
#fancybox-close { right:0 !important; width: 20px !important; height: 20px !important; }
#fancybox-left, #fancybox-right	{ display:none !important; }

/* Goods */
.whole_thum_goods { margin:0; }
.thum_goods { width:100%; margin:10px 0 20px;}
.goods_imgbox { float:left; width:120px; height: 120px;}
.goods_txtbox { margin-left:120px; padding:15px; min-height: 120px; }

.goods_imgbox2 { float:left; width:120px; height: 165px;}
.goods_txtbox2 { margin-left:120px; padding:15px; min-height: 165px; }



@media screen and (max-width: 640px){

body				{ font-size:12px; line-height:1.6; }


/* Header */
.siteid						{ left:20px; }

/* Top page */

.fixedbox_table				{height: 420px;}
.txt_lead			{ display:none; }
.newsbox			{ font-size:14px; height: 40px; line-height: 40px;}
.newsbox:nth-child(2n+1)			{ font-size:14px; height: 40px; line-height: 40px;}
.top_logo					{margin: 0 auto; max-width: 450px;}

.wrapper {background-position-y: 0px; background:url(../images/bg_main.jpg) no-repeat right top #050a23; background-size: 180%; background-position-x: 90%;}
.niconama			{width:100%; height:176px;}
div#outline 			{max-width:500px !important;}
/* header */
.pgtitle { padding:80px 35px 30px; }
.pgtitle_title { font-size:2.5em; }
/* Section */
.section_inner			{ padding:60px 25px; }
.secmenu			{font-size: 12px; line-height: 3; padding: 0 5px;}
.secmenu_inner		{padding: 0;}
.page_title {padding:40px 25px 20px 25px; box-sizing:border-box;}
.sect_half2_50 , .sect_clm4 , .sect_clm4_2 {float: none; width: 100%; margin-top: 20px;}
.sect_half2_whole .sect_half2_50:nth-child(odd) {padding-right: 0; position: relative;}
.sect_half2_whole .sect_half2_50:nth-child(even) {padding-left: 0; position: relative;}
.sect_clm3, .sect_clm3_2 {float: none; margin-top: 45px; margin-left: 0; width: 100%;}
.top_twitter img			{width: 110px;}
.backtotop			{display: none !important;}
.cont_top					{margin: 220px auto 20px auto; text-align: center;}

.now_box					{margin-bottom: 20px;}
.now_img					{float:none; width: 100%;}
.now_txt					{padding:10px; float:none; width: 100%;}
.now_link					{bottom:10px !important; right:10px !important;}
.icon_l						{width:60px; height:60px; top:-15px; left:-20px; line-height:60px;}
.icon_rs					{width:80px; height:80px; top:-5px; right:-5px; line-height:80px;}
.icon_r						{width:80px; height:80px; top:25px; right:10px; line-height:80px;}
.box_border					{padding: 15px;}
.spn_sect {
background-position: center 30px;
padding: 210px 0 30px 0;
}

}