<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!--防WebForms UnobtrusiveValidationMode requires a ScriptResourceMapping for 'jquery'-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>


  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>

    <add name="EPConnectionString2" connectionString="Data Source=172.25.2.64;Initial Catalog=EP;Persist Security Info=True;User ID=ep_client;Password=46709394" providerName="System.Data.SqlClient"/>

    <add name="NCConnectionString" connectionString="Data Source=172.25.2.59;Initial Catalog=V63MPI0115;Persist Security Info=True;User ID=sa;Password=ehr2013" providerName="System.Data.SqlClient"/>    
    
    <add name="EPConnectionString" connectionString="Data Source=sqlsrv2;Initial Catalog=ep;Persist Security Info=True;MultipleActiveResultSets=True;User ID=ep;Password=ep2013" providerName="System.Data.SqlClient" />
    <add name="EPConnectionString3" connectionString="Data Source=sqlsrv3;Initial Catalog=ep;Persist Security Info=True;MultipleActiveResultSets=True;User ID=ep_user;Password=P@ssw0rd" providerName="System.Data.SqlClient" />


  </connectionStrings>



  <system.web>
    <!--<sessionState timeout="60"></sessionState>-->
    <!--設定timeout-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!--ajax用-->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <!--<remove name="Documentation" />-->
      </protocols>
    </webServices>

  </system.web>


</configuration>
